.inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  margin: 3.5rem 6.1rem 2rem;
}

.inputContainer label {
  display: block;
  text-align: start;
  font-weight: 400;
  font-size: 1.4rem;
  color: #9f9f9f;
  margin-bottom: 0.8rem;
}

.inputContainer input {
  width: 100%;
  height: 4.2rem;
  padding: 0 1.6rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  border: none;
  background: #fcfcfc;
  border-bottom: 1px solid #1d94a8;
}

.error input {
  border-bottom: 1px solid #a43f3c;
}

.errorText {
  display: block;
  text-align: start;
  font-size: 1.4rem;
  color: #a43f3c;
}

.resetPass {
  grid-column: 1 / 3;
  text-align: end;
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.bankPurpose {
  grid-column: 1 / 3;
  text-align: start;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #a87b14;
}
