.cardContainer {
  /* width: 36rem; */
  width: 100%;
  border: 1px solid #f1ede4;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
  height: 100%;
}

.cardImg {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.contentContainer {
  padding: 1.3rem 2.4rem;
  height: calc(100% - 22rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  padding: 0.4rem 1.8rem;
  border: 1px solid #a43f3c;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #a43f3c;
}

.title {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.progress {
  background-color: #f4f4f4;
  border-radius: 4px;
  position: relative;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  height: 8px;
  width: 100%;
}

.progressDone {
  background: #1d94a8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.amountContainer {
  display: flex;
  justify-content: space-between;
}

.raised,
.goal {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9f9f9f;
}

.amountRaised {
  font-weight: 700;
  font-size: 1.4rem;
  color: #1d94a8;
}

.goal {
  text-align: right;
}

.amountGoal {
  font-weight: 400;
  font-size: 1.4rem;
}
