.container {
  max-width: 120rem;
  margin: 8.6rem auto 0;
}

.headerText {
  font-weight: 700;
  font-size: 3.2rem;
  padding-top: 5.9rem;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.categoryBtn {
  height: 10rem;
  width: 10rem;
  margin: 0 0.8rem;
  padding-bottom: 1rem;
  border: 1px solid #e1e0e0;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1rem;
  color: #9f9f9f;
  transition: all 0.2s ease;
}

.categoryBtn:hover {
  background: rgba(215, 235, 238, 0.6);
  font-weight: 700;
  color: #1d94a8;
}

.categoryText {
  margin-top: 1rem;
}
