.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.2rem 0;
}

.categoryBadge {
  padding: 0.4rem 1.8rem;
  border: 1px solid #a43f3c;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #a43f3c;
}

.categoryText {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 3.2rem;
}

.backlinkContainer {
  display: inline-block;
}

.backlinkText {
  margin-top: 2.7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.backlinkText img {
  margin-right: 1rem;
}

.backlinkText p {
  font-weight: 700;
  font-size: 1.4rem;
}

.categoryImg {
  width: 35rem;
  height: 33rem;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 650px) {
  .categoryImg {
    display: none;
  }
}
