.headerForm {
  padding-top: 6.8rem;
  margin-left: 7.9rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.05em;
  color: #1d94a8;
  z-index: 9999;
  position: absolute;
}

.alreadyHave {
  left: 7.9rem;
  top: 13.3rem;
  z-index: 9999;
  position: absolute;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.alreadyHave a {
  color: #1d94a8;
}

.formContainer {
  position: absolute;
  max-height: 78rem;
  top: 19rem;
  left: 7.8rem;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  right: 7.8rem;
}

.inputForm {
  height: 5.5rem;
  width: 41.5rem;
  top: 3.5rem;
  border-radius: 0px;
  border-style: none;
  box-shadow: 5rem;
  margin-bottom: 1rem;
}

.inputForm2 {
  height: 5.5rem;
  width: 41.5rem;
  border-radius: 0px;
  border-style: none;
  box-shadow: 5rem;
  margin-top: 2.8rem;
  margin-bottom: 1rem;
}

.forgotPass {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.btnLogin {
  height: 4.6rem;
  width: 41.5rem;
  border-radius: 3px;
  border-style: none;
  background-color: #a43f3c;
  color: white;
  margin-top: 2.8rem;
}

.google {
  width: 18px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
}

.btnGoogle {
  max-width: 57rem;
  height: 5.6rem;
  border-style: none;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  z-index: 9999;
  position: absolute;
  bottom: 5rem;
  left: 18.8rem;
}

.line1 {
  width: 41.5rem;
  z-index: 9999;
  position: absolute;
  left: 7.8rem;
  bottom: 10rem;
}

.line2 {
  width: 41.5rem;
  z-index: 9999;
  position: absolute;
  left: 7.8rem;
  bottom: 4.5rem;
}

.errorMessage {
  color: red;
}
