.ReactModalPortal{
  z-index: 9999;
    position: relative;

}

.modal_wrapper{
    background-color:#F1EDE4;
    margin: 9.5% 0 0 35%;
    width: 57rem;
    height: 78rem;
    border-style: none;
    position: relative;
}

.img1{
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 5;
}

.img2{
  position: absolute;
  top:0;
  right:0;
  z-index: 3;
}

.img3{
  position: absolute;
  top:0;
  right:0;
  z-index: 2;
}
