.container {
  max-width: 120rem;
  margin: auto;
}

.segmentTitle {
  margin-top: 7.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  color: #a43f3c;
}

.topicTitle {
  font-weight: 700;
  font-size: 3.2rem;
  color: #2f243a;
}

.content {
  display: flex;
  margin-top: 2.4rem;
}

.trendingLink,
.trendingImage {
  height: 40rem;
  width: 64rem;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5.5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closeQuote {
  display: block;
  margin-top: -1rem;
  margin-left: auto;
}

.quoteText {
  font-size: 2.4rem;
  line-height: 140%;
  font-weight: 400;
  padding: 1rem;
}

.fundraiser {
  display: flex;
}

.fundraiserImg {
  height: 7.2rem;
  width: 7.2rem;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 2.6rem;
}

.fundraiserName {
  font-weight: 700;
  font-size: 2.4rem;
}

.fundraiserTitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9f9f9f;
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
    margin: auto;
  }
  .quote {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .trendingLink {
    width: 90%;
  }

  .trendingImage {
    width: 100%;
  }
}
