.borderBottom {
  border-bottom: 1px solid #e1e0e0;
}

.footer {
  background-color: #f9f7f3;
}

.container {
  max-width: 120rem;
  margin: auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4.8rem;
  margin-bottom: 4.6rem;
}

.footerLinkContainer {
  display: flex;
  justify-content: space-between;
  width: 53rem;
}

.footerLink h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1d94a8;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.footerLink li {
  list-style: none;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #2d2d2d;
  cursor: pointer;
}

.copyright {
  padding: 2.1rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2d2d2d;
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    padding: 0 9rem;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 7rem;
  }

  .footerContainer {
    flex-direction: column;
  }

  .footerLinkContainer {
    margin-top: 2rem;
  }

  .logo {
    width: 20rem;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    margin-bottom: 2rem;
  }
  .footer {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 530px) {
  .container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .footerLinkContainer {
    flex-direction: column;
  }

  .footerLink {
    margin-top: 1rem;
  }

  .footerLink:not(:last-of-type) {
    border-bottom: 1px solid #e1e0e0;
  }
}
