
  .cardAtas{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 964px;
    min-height: 494px;
      background-color: #E1E0E0;
      margin-bottom: 3rem;
  }

  .imageplus{
    /* background-color: brown; */
    height: 60px;
    width: 60px;
    margin-bottom: 2rem;
  }