.container {
    max-width: 120rem;
    margin: 10rem auto;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
  }

.cardWrap {

    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: row;

}
  
  .cardStyle

  {
      margin: 2rem;
      width: 33.33%;
  }