.container {
  padding-bottom: 8.7rem;
}

.sectionsTitle {
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 5.6rem;
  margin-top: 2.4rem;
}

@media only screen and (max-width: 1100px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(26rem, 36rem));
    justify-content: center;
    column-gap: 2.6rem;
  }

  .cardsContainer > a {
    margin-top: 2.4rem;
  }

  .cardsContainer > div {
    margin-top: 2.4rem;
  }
}
